.ql-editor {
    min-height: 100px;
    width: 100%;
    color: black;
    font-size: 16px;
    font-family: Roboto;
    max-height: 225px;
    overflow-y: scroll;
  }
  
  .ql-editor img {
    cursor: default;
  }
  
  .ql-container {
    font-size: 16px
  }

  .ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: black !important;
}

.ql-toolbar .ql-fill {
    fill: black !important;
    stroke: none !important;
}

.ql-toolbar .ql-picker {
    color: black !important;
}

.ql-toolbar .ql-picker-options {
    background-color: white !important;
}